<div class="container-fluid" style="padding-top: 2em;">
  <div class="row">
    <div class="col-md-12 bg-primary text-center">
      <h1 class="text-white py-5">About the Collaborative Code Editor</h1>
    </div>
  </div>
  <div class="row py-5" style="padding-bottom: 0px;">
    <div class="col-md-6">
      {{!-- <img src="https://i.imgur.com/oz4oesK.jpg" alt="Collaborative Code Editor" class="img-fluid"> --}}
      <img src="https://res.cloudinary.com/dzcbjsrdi/image/upload/v1680699276/pexels-pixabay-270348_mgzuvu.jpg" title="source: imgur.com"  alt="Collaborative Code Editor"  class="img-fluid" style="width: 100%; padding:2em;"/>
    </div>
    <div class="col-md-6">
      <h2>What is the Collaborative Code Editor?</h2>
      <p>The Collaborative Code Editor is an online tool that allows multiple users to collaborate on the same code in real-time. It's perfect for pair programming, code reviews, and remote team collaboration. The code editor is based on the popular CodeMirror library, which provides syntax highlighting, auto-indentation, and other useful features for coding. The collaborative aspect of the application is implemented using WebSockets, allowing changes made by one user to be instantly reflected on the screens of other users.</p>
      <h2>About the Developer</h2>
      <p>The Collaborative Code Editor was developed by Martin Lubowa, a software developer and technology enthusiast. Martin is passionate about using technology to solve real-world problems and improve people's lives. He hopes that this code editor will help developers work more efficiently and collaboratively, regardless of their location.</p>
      <p>If you have any questions or feedback, please don't hesitate to <a href="/contact">contact us</a>.</p>
    </div>
  </div>
</div>
