<form class="form-signin" method="post">
<h2 class="form-signin-heading text-center">New Account</h2>
<br/>

<input type="text", name="name" class="form-control" placeholder="Name" value ="name" required autofocus="">
<br />
<input type="email", name="email" class="form-control" placeholder="Email" value ="email" required autofocus="">
<br />
<input type="password", name="name" class="form-control" placeholder="Password" value ="password" required >
<br />
<input type="password", name="confirmPassword" class="form-control" placeholder="confirmPassword" value ="confirmPassword" required autofocus="">
<br />
<button type="submit" class="btn btn-lg btn-primary btn-block"> Sign Up </button>


</form>